In [ ]:
for i in range(0,10):
  i+=1
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
l=[1,2,3,4,5,6]
a=0
for x in range(0,len(l)):
  a=a+l[x]
print(a)

21

In [ ]:
s=str(input())
s1=""
for b in s:
  s1=b+s1
print(s1)

my name is rishikesh reddy
ydder hsekihsir si eman ym

In [ ]:
j=int(input())
l=1
for k in range(1,j+1):
  l=l*k
print(l)

6
720

In [ ]:
number=int(input())
range_of_mul_table=int(input())
for z in range(0,range_of_mul_table):
  z+=1
  multiplication_table=number*z
  print(number,'x',z,'=',multiplication_table)

9
15
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135

In [ ]:
l1=[12,34,5,788,34,99,3,5]
no_of_even_numbers,no_of_odd_numbers=0,0
for num in l1:
  if num%2==0:
    no_of_even_numbers+=1
  else:
    no_of_odd_numbers+=1
print(no_of_even_numbers)
print(no_of_odd_numbers)

4
4

In [ ]:
 for square in range(0,5):
  b=square+1
  b=b**2
  print(b)

1
4
9
16
25

In [ ]:
s2=str(input())
#len(s2)
length=sum(s2.count(s2)for s2 in s2)
print(length)

my name is rishikeshreddy
25

In [ ]:
l=[1,2,3,4,5,6]
a=0
for x in range(0,len(l)):
  a=a+l[x]/len(l)
print(a)

3.5

In [ ]:
d=int(input())
first = 0
second = 1
print(first)
for x in range(1,d):
  print(second)
  third = first + second
  first,second=second,third

10
0
1
1
2
3
5
8
13
21
34

In [ ]:
lis = [1,2,2,4,34,5,6,5,7,3,8,11,2,7,0]
unique_list = []
duplicate_list = []
for m in lis:
    if m not in unique_list:
        unique_list.append(m)
    elif m not in duplicate_list:
        duplicate_list.append(m)
print('duplicates in given list are',duplicate_list)
print(unique_list)

duplicates in given list are [2, 5, 7]
[1, 2, 4, 34, 5, 6, 7, 3, 8, 11, 0]

In [ ]:
x=int(input())
y=int(input())
prime_list = []
for i in range(x, y):
  if i == 0 or i == 1:
    continue
  else:
    for j in range(2, int(i/2)+1):
      if i % j == 0:
        break
    else:
        prime_list.append(i)
print(prime_list)

2
9
[2, 3, 5, 7]

In [ ]:
string=str(input())
vowels='AEIOUaeiou'
no_of_vowels=sum(string.count(vowels)for vowels in vowels)
print(no_of_vowels)

my name is rishikesh reddy
7

In [ ]:
list1=[[2,3,45],[16,18,56],[23,26,78.0]]
max_element=0
for rows in list1:
  for elements in rows:
    if elements>max_element:
      max_element=elements
print(max_element)

78.0

In [ ]:
list2=[1,2,3,4,12,3,4,21,1,5,34,2,4,6,7,8,9,0,9,8,7,6,1,4,3,5]
element_to_remove=int(input())
list3=[]
for element in list2:
  if element!=element_to_remove:
    list3.append(element)
print(list2)
print(list3)

3
[1, 2, 3, 4, 12, 3, 4, 21, 1, 5, 34, 2, 4, 6, 7, 8, 9, 0, 9, 8, 7, 6, 1, 4, 3, 5]
[1, 2, 4, 12, 4, 21, 1, 5, 34, 2, 4, 6, 7, 8, 9, 0, 9, 8, 7, 6, 1, 4, 5]

In [ ]:
start_num = 1
end_num = 5
for t in range(start_num, end_num + 1):
    print(f"{t}")
    for o in range(1, 11):
        product = t * o
        print(f"{t} x {o} = {product}")

1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
fahrenheit_temperatures = [32, 68, 77, 104, 212]
celsius_temperatures = []
for temp_fahrenheit in fahrenheit_temperatures:
    temp_celsius = (temp_fahrenheit - 32) * 5/9
    celsius_temperatures.append(temp_celsius)
print("Fahrenheit Temperatures:", fahrenheit_temperatures)
print("Celsius Temperatures:", celsius_temperatures)

Fahrenheit Temperatures: [32, 68, 77, 104, 212]
Celsius Temperatures: [0.0, 20.0, 25.0, 40.0, 100.0]

In [ ]:
list4 = [1, 2, 3, 4, 5]
list5 = [3, 4, 5, 6, 7]
common_elements = []
for element1 in list4:
  for element2 in list5:
    if element1 == element2:
      if element1 not in common_elements:
        common_elements.append(element1)
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

In [ ]:
num_rows=int(input())
for u in range(1,num_rows+1):
  for w in range(u):
    print('*',end=' ')
  print()

9
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
def GCD( a, b):
    if a > b:
        temp = b
    else:
        temp = a
    for i in range(1, temp + 1):
        if (( a % i == 0) and (b % i == 0 )):
            gcd = i
    return gcd
x = int(input (" Enter the first number: ") )
y =int (input (" Enter the second number: "))
num = GCD(x, y)
print("GCD of two number is: ")
print(num)

 Enter the first number: 45
 Enter the second number: 30
GCD of two number is:
15

In [ ]:
test_list = [12, 67, 98, 34]
print("The original list is : " , str(test_list))
res = []
for ele in test_list:
    sum = 0
    for digit in str(ele):
        sum += int(digit)
    res.append(sum)
print ("sum of the digits of the numbers =" , str(res))

The original list is :  [12, 67, 98, 34]
sum of the digits of the numbers = [3, 13, 17, 7]

In [ ]:
l1=[12,6,78,96]
prime_factors=[]
for k in l1:
    for i in range(2, k + 1):
        if(k % i == 0):
            isprime = 1
            for j in range(2, (i //2 + 1)):
                if(i % j == 0):
                    isprime = 0
                break
            if (isprime == 1):
                prime_factors.append(i)
    print(prime_factors)

[2, 3]
[2, 3, 2, 3]
[2, 3, 2, 3, 2, 3, 13, 39]
[2, 3, 2, 3, 2, 3, 13, 39, 2, 3]

In [ ]:
lis = [1,2,2,4,34,5,6,5,7,3,8,11,2,7,0]
unique_list = []
for m in lis:
    if m not in unique_list:
        unique_list.append(m)
print(unique_list)

[1, 2, 4, 34, 5, 6, 7, 3, 8, 11, 0]

In [ ]:
limit=int(input("enter the limit for palindrome numbers :"))
palindromic_numbers=[]
for num1 in range(1,limit+1):
    if str(num1)==str(num1)[::-1]:
        palindromic_numbers.append(num1)
print("the palindromic numbers in the specified limit are :" ,palindromic_numbers)

enter the limit for palindrome numbers :100
the palindromic numbers in the specified limit are : [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99]

In [ ]:
nested_list=[[1, 2, 3], [4, 5], [6, 7, 8]]
flattened_list=[]
for sublist in nested_list:
    for elements2 in sublist:
        flattened_list.append(elements2)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
numbers1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list0=[]
even_sum1=0
odd_sum1=0
for x1 in numbers1:
    if x1%2==0:
        even_sum1+=x1
    else:
        odd_sum1+=x1
list0.append(even_sum1)
list0.append(odd_sum1)
print("sum of even numbers and odd numbers shown seperately in the given list : ",list0)

sum of even numbers and odd numbers shown seperately in the given list :  [30, 25]

In [ ]:
numbers2=[1,2,3,4,5,6,7,8,9,10]
oddnum_squares=[]
for x2 in numbers2:
  if x2%2!= 0:
    squares=x2**2
    oddnum_squares.append(squares)
print("squares of odd numbers from 1 to 10 are ",oddnum_squares)

squares of odd numbers from 1 to 10 are  [1, 9, 25, 49, 81]

In [ ]:
keys = ["rishi", "madhav", "victor"]
values = [1, 2, 3]
d = {}
for key in keys:
  for value in values:
    d[key] = value
    values.remove(value)
    break
print("Resultant dictionary is : " ,d)

Resultant dictionary is :  {'rishi': 1, 'madhav': 2, 'victor': 3}

In [ ]:
string1=str(input("enter the string :"))
vowels="AEIOUaeiou"
vowels_list=[]
for vowel in vowels:
  for letters in string1:
    if vowel==letters:
      vowels_list.append(letters)
print(vowels_list)

enter the string :my name is rishikesh reddy
['a', 'e', 'e', 'e', 'i', 'i', 'i']

In [ ]:
string_list = ["abc123", "45xyz", "789", "hello456"]
numeric_strings = [''.join(c for c in s if c.isdigit()) for s in string_list]
print("Numeric Strings:", numeric_strings)

Numeric Strings: ['123', '45', '789', '456']

In [ ]:
def sieve_of_eratosthenes(n):
    is_prime = [True] * (n + 1)
    is_prime[0] = is_prime[1] = False
    for p in range(2, int(n**0.5) + 1):
        if is_prime[p]:
            for i in range(p * p, n + 1, p):
                is_prime[i] = False
    primes = [i for i in range(2, n + 1) if is_prime[i]]
    return primes
limit = int(input("Enter the limit to generate prime numbers: "))
prime_numbers = sieve_of_eratosthenes(limit)
print("Prime numbers up to", limit, "are:", prime_numbers)

Enter the limit to generate prime numbers: 16
Prime numbers up to 16 are: [2, 3, 5, 7, 11, 13]

In [ ]:
def generate_pythogorean_triplets1(limit1):
    triplets1=[]
    for a1 in range(1,limit1+1):
      for b1 in range(a1,limit1+1):
        for c1 in range(b1,limit1+1):
          if a1**2+b1**2==c1**2:
            triplets1.append((a1,b1,c1))
    return triplets1

limit1=int(input())
pythagorean_triplets1=generate_pythogorean_triplets1(limit1)
print("pythagorean triplets upto",limit1,"are",pythagorean_triplets1)

25
pythagorean triplets upto 25 are [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (12, 16, 20), (15, 20, 25)]

In [ ]:
list_1=[1,11,4,3,6,9,3,2,5,46]
list_2=[1,4,6,78,89,6,4,8]
combined_list=[]
for x_1 in list_1:
  for y_1 in list_2:
    combined_list.append((x_1,y_1))
print(combined_list)

[(1, 1), (1, 4), (1, 6), (1, 78), (1, 89), (1, 6), (1, 4), (1, 8), (11, 1), (11, 4), (11, 6), (11, 78), (11, 89), (11, 6), (11, 4), (11, 8), (4, 1), (4, 4), (4, 6), (4, 78), (4, 89), (4, 6), (4, 4), (4, 8), (3, 1), (3, 4), (3, 6), (3, 78), (3, 89), (3, 6), (3, 4), (3, 8), (6, 1), (6, 4), (6, 6), (6, 78), (6, 89), (6, 6), (6, 4), (6, 8), (9, 1), (9, 4), (9, 6), (9, 78), (9, 89), (9, 6), (9, 4), (9, 8), (3, 1), (3, 4), (3, 6), (3, 78), (3, 89), (3, 6), (3, 4), (3, 8), (2, 1), (2, 4), (2, 6), (2, 78), (2, 89), (2, 6), (2, 4), (2, 8), (5, 1), (5, 4), (5, 6), (5, 78), (5, 89), (5, 6), (5, 4), (5, 8), (46, 1), (46, 4), (46, 6), (46, 78), (46, 89), (46, 6), (46, 4), (46, 8)]

In [2]:
number_list1 = [1, 2, 2, 3, 4, 4, 4, 5]
mean_median_mode1=[]
temp=0
frequency1={}
for num1 in number_list1:
    temp=num1+temp
    Mean1=temp/len(number_list1)
    if num1 in frequency1:
      frequency1[num1]+=1
    else:
      frequency1[num1]=1
max_frequency1=max(frequency1.values())
for key1,value1 in frequency1.items():
  if value1==max_frequency1:
    Mode1=key1
sorted_numbers1 = sorted(number_list1)
middle1 = len(sorted_numbers1) // 2
if len(sorted_numbers1) % 2 == 0:
  Median1 = (sorted_numbers1[middle1 - 1] + sorted_numbers1[middle1]) / 2
else:
  Median1 = sorted_numbers1[middle1]
mean_median_mode1.append((Mean1,Median1,Mode1))
print(mean_median_mode1)

[(3.125, 3.5, 4)]

In [ ]:
def generate_pascals_triangle(num_rows):
    if num_rows <= 0:
        return []
    triangle = [[1]]
    for _ in range(1, num_rows):
        previous_row = triangle[-1]
        next_row = [1] + [previous_row[i] + previous_row[i + 1] for i in range(len(previous_row) - 1)] + [1]
        triangle.append(next_row)
    return triangle
num_rows = int(input("Enter the number of rows for Pascal's triangle: "))
pascals_triangle = generate_pascals_triangle(num_rows)
for row in pascals_triangle:
    print(" ".join(map(str, row)).center(num_rows * 3))

Enter the number of rows for Pascal's triangle: 6
        1
       1 1
      1 2 1
     1 3 3 1
    1 4 6 4 1
  1 5 10 10 5 1

In [3]:
list1=[1,2,3,4,5]
factorial1=1
factorial_num1=[]
sum_digits_factorial=[]
sum1=0
a=1
for n1 in list1:
  if n1==0 :
    print(1)
  else:
    factorial1=factorial1*n1
    factorial_num1.append(factorial1)
for num1 in factorial_num1:
  for digit1 in str(num1):
    sum1=sum1+int(digit1)
  sum_digits_factorial.append(sum1)
  sum1=0
print("the factorial of ",list1,"is",factorial_num1,"sum of digits of the factorials is", sum_digits_factorial)

the factorial of  [1, 2, 3, 4, 5] is [1, 2, 6, 24, 120] sum of digits of the factorials is [1, 2, 6, 6, 3]

In [4]:
list1=["my anme is rishikesh reddy"]
longest_word=[]
s=str(list1)
max_length1=0
words1=s.split()
for word1 in words1:
    word2=' '.join(filter(str.isalnum,word1))
    word_length1=len(word2)
    if word_length1>max_length1:
        longest_word1=word1
        max_length1=word_length1
longest_word.append(longest_word1)
print(longest_word)

['rishikesh']

In [5]:
def count_vowels(string):
  vowels = "aeiouAEIOU"
  return sum(1 for char in string if char in vowels)
string_list1 = ["apple", "banana", "cherry", "grapefruit", "strawberry", "kiwi"]
filtered_strings1=[]
for string1 in string_list1:
    if count_vowels(string1)>3:
        filtered_strings1.append(string1)
print(filtered_strings1)

['grapefruit']

In [7]:
def sum_of_digits(num):
  return sum(int(digits)for digits in str(num))
sums=[sum_of_digits(num) for num in range(1,1001)]
total_sum=[sum(sums)]
print(total_sum)

[13501]

In [9]:
def is_palindrome(number):
  return str(number) == str(number)[::-1]
def is_prime(number):
  if number <= 1:
    return False
  if number == 2:
    return True
  if number % 2 == 0:
    return False
  for d in range(3, int(number**0.5) + 1, 2):
    if number % d == 0:
      return False
  return True
prime_palindromic_numbers = []
for num in range(1, 1000):
    if is_palindrome(num) and is_prime(num):
        prime_palindromic_numbers.append(num)
print(prime_palindromic_numbers)

[2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]